 
.cards { 
  animation: poof 0.5s;
  display: flex;
  flex-wrap: wrap;
  &__card{
    opacity: 0;
    animation: poof 0.5s forwards;
    overflow: hidden;
    transition: all 0.3s ease;
    position:relative;
    .cards__content-container{
      position:realtive;
     border-right: 1px solid $light-grey;
     border-bottom: 1px solid $light-grey;
     &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #fff;
    }
    }
    &:nth-child(4n + 4) {
      .cards__content-container{
       border-right: none;
      }
    }
    

  }
 
    &__card-wrapper{
      position:relative;
      height: 100%;
      cursor: pointer;
      @media(min-width: $breakpoint-small) {
        display: flex;
        flex-direction: row;
      }
      @media(min-width: $breakpoint-medium) {
        display: flex;
        flex-direction: column;
      }
      @media(min-width: $breakpoint-large) {}
      &:hover {
        .image-container__more-info{
          opacity:1;
          background: rgba( $pale-blue, 0.7);
        }
        img{
          filter: brightness(0.4);
        } 
      } 
    }
    &__content-container{
        display:flex;
        position: relative;
        flex: auto; 
        flex-direction: column;
        align-items: flex-start;
        padding-top: $small;
        padding-bottom: $small;
        padding-left: $small;
        padding-right: $small; 
        flex-basis: 75%; 
        @media(min-width: $breakpoint-medium) {
          flex-direction: column;
          justify-content:flex-start;
          align-items:center;
          text-align: center;
          flex-basis: 100%;
          padding-top: $medium;
          padding-bottom: $large;
          padding-left: $large;
          padding-right: $large;
        }
    }
    &__title {
        line-height: $line-height-default;
        font-display: $font-display-default;
        text-transform:uppercase;
        font-size: $h6; 
        margin:0;
        padding:0;
        @media(min-width: $breakpoint-medium) {
          border-top:$border-thin solid black;
          border-bottom:$border-thin solid black;
          margin-bottom: $small;
        }
    }
    &__price{
      font-size: $h7;
      color:$primary;
      line-height:$line-height-thick;
    }
    &__desc{
      font-size: $h7;
      color:$primary; 
    }
  }
  @for $i from 1 through 10 {
    .cards > div:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }

    
 
.image-container{
  position:relative;
  width: 100%; 
  &__more-info{
    padding:$small;
    opacity:0;
    display: flex;
    position: absolute;
    text-align:center;
    @include center-xy;
    color:white;
    transition:all .4s ease-in-out;
  }
  img{
    width: 100%;
    filter: brightness(1);
    transition:all .4s ease-in-out;
  }
}

@keyframes poof {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
}  
 