////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a,
.anchor {
    @include transition(background-color, color, text-decoration-color);
    background-color: transparent;
    color: $blue;
    color: $primary;
    outline-width: 0;
    outline-style: solid;
    outline-color: $primary;
    position: relative;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-skip-ink: auto;

    &:not([class]) {
        &:hover,
        &:focus,
        &:active {
            text-decoration-color: $tertiary;
        }

        &:focus {
            outline-color: $primary;
            outline-width: $border-thin;
            outline-offset: $border-thin;
        }

        &:active {
            background-color: $primary;
            color: $primary;
            outline-width: $border-thin;
            outline-offset: 0;
        }
    }
}
