////
/// Fonts
/// @group base
////
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'Lato', sans-serif;
    font-display: $font-display-default;
    font-style: normal;
    font-display: $font-display-default; 
}
 
 